html{
  height: 100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.display{
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 10px;
}

.display:focus-within{
  //border: 1px solid #2188FF;
}

.display textarea{
  box-sizing: border-box;
  direction: rtl;
  width: 100%;
  height: 100%;
  font-size: 30px;
  //font-family: "Ezra SIL";
  border: none;
  border-radius: 10px;
  padding: 5px;
  outline: none;
  resize: none;
}

.keyboard{
  box-sizing: border-box;
  display: flex;
  flex: none;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}

.key{
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.5);
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
  position: relative; /* required for children with position: absolute */
}

.arrowkeys{
  display: flex;
  box-sizing: border-box;
  flex: none;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  justify-content: center;
}